---
layout: default
ref: open-source
lang: es
---

<div class="template works">

<div class="hero">

<form class="controls" id="Filters">
  <!-- We can add an unlimited number of "filter groups" using the following format: -->
  
  <fieldset class="hero-search dropdownSort">
    <h4>Buscar</h4>
    <select>
     <option value="">opciones</option>
     <option value=".aplicaciones">aplicaciones</option>
     <option value=".tutoriales">tutoriales</option>
     <option value=".recursos">recursos</option>
     <option value=".inspiracion">inspiracion</option>
     <option value=".articulos">articulos</option>
    </select>
    <h4>libres</h4>
    
  </fieldset>
 
  <button id="Reset" class="clear-filters ui button purple tiny">Limpiar filtros</button>
</form>

</div>


<div id="Container" class="mxt-container">

  <div class="fail-message"><span>Parece que no se encontraron resultados.</span></div>
    {% for post in site.data.open-source %}
    <div class="mix default {{post.category}}" data-myorder="{{post.order}}">
      <a target="_blank" href="{{post.link}}">
      <div class="favicon">
        <img src="{{post.image}}" width="25">
      </div>
      <div class="content">
        <h3 class="header">{{post.title}}</h3>
        <div class="meta">
          <div>{{post.tags}}</div>
        </div>
        <div class="description">
          {{post.contenido}}
        </div>
      </div>
      <div class="extra content">
      </div>
      </a>
    </div>
   {% endfor %}
   
 
</div>



</div>

{% include mxt-filter.html %}

