---
layout: open-source
---

{% include mxt-filter.html %}

<form class="controls" id="Filters">
  <!-- We can add an unlimited number of "filter groups" using the following format: -->
  <button id="Reset">Clear Filters</button>
  <fieldset>
    <h4>Shapes</h4>
    <div class="field">
      <div class="ui  toggle checkbox">
        <input type="checkbox" value=".square">
        <label>Square</label>
      </div>
    </div>
    <div class="field">
      <div class="ui  toggle checkbox">
        <input type="checkbox" value=".circle">
        <label>Circle</label>
      </div>
    </div>
    <div class="field">
      <div class="ui  toggle checkbox">
        <input type="checkbox" value=".triangle">
        <label>Triangle</label>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <h4>Colours</h4>
    <div class="field">
      <div class="ui  toggle checkbox">
        <input type="checkbox" value=".white">
        <label>White</label>
      </div>
    </div>
    <div class="field">
      <div class="ui  toggle checkbox">
        <input type="checkbox" value=".green">
        <label>Green</label>
      </div>
    </div>
    <div class="field">
      <div class="ui  toggle checkbox">
        <input type="checkbox" value=".blue">
        <label>Blue</label>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <h4>Sizes</h4>
    <div class="field">
    <div class="ui toggle checkbox">
      <input type="checkbox" value=".sm">
      <label>Small</label>
    </div>
    </div>
    <div class="field">
      <div class="ui  toggle checkbox">
        <input type="checkbox" value=".lrg">
        <label>Large</label>
      </div>
    </div>

  </fieldset>
  
  
</form>

<div id="Container" class="mxt-container">
  <h1 class="ui dividing header -flex">
    Diseño
  </h1>
  <div class="fail-message"><span>No items were found matching the selected filters</span></div>
  
   {% for post in site.data.design %}
    <div class="mix default {{post.category}}" data-myorder="{{post.order}}">
      <h3 class="title">
        <a href="{{post.link}}" target="_blank">
        {{post.title}}
        </a>
      </h3>
      <div class="description">
        <p>{{post.excerpt}}</p>
      </div>
      <div class="extra content">
        <a href="{{post.link}}" target="_blank">
           <img class="ui mini spaced image" src="{{post.favicon}}" style="width: 20px;">
          {{post.short-url}}
        </a>
      </div>
    </div>
    {% endfor %}
</div>