<nav class="ui secondary large hidden menu">
	<a href="{{site.baseurl}}/index.html">
		<img src="{{ site.baseurl }}/img/trinomia.svg" alt="" class="item" width="135">
	</a>
	<div class="ui container nav">
		<a href="{{site.baseurl}}/tutorials.html"
		   class="item {% if page.url == '/tutorials.html' %}active{% endif %}">Tutoriales</a>
		<a href="{{site.baseurl}}/resources.html"
		   class="item {% if page.url == '/resources.html' %}active{% endif %}">Recursos</a>
		<a href="{{site.baseurl}}/open-source.html"
		   class="item {% if page.url == '/open-source.html' %}active{% endif %}">Open Source</a>
		<a href="{{site.baseurl}}/design.html"
		   class="item {% if page.url == '/design.html' %}active{% endif %}">Diseño</a>
	</div>
</nav>
