
.controls{

}
 
fieldset{
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
  background: #666;
  padding: .5em;
  border-radius: 3px;
}

.checkbox{
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}

.checkbox input[type="checkbox"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.checkbox label{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 1.5em;
}

.checkbox label:before,
.checkbox label:after{
  content: '';
  display: block;
  position: absolute;
}

.checkbox label:before{
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #ddd;
  border-radius: 3px;
}

.checkbox label:after{
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: #68b8c4;
  opacity: 0;
  pointer-events: none;
}

.checkbox input:checked ~ label:after{
  opacity: 1;
}

.checkbox input:focus ~ label:before{
  background: #eee;
}

/**
 * mxt-mxt-Container/Target Styles
 */

.mxt-container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.mxt-container .mix,
.mxt-container .gap{
  display: inline-block;
  width: 49%;
}

.mxt-container .mix{
  text-align: left;
  //background: #03899c;
  margin-bottom: 2%;
  display: none;
}

.mxt-container .mix.category-1{
  border-top: 2px solid limegreen;
}

.mxt-container .mix.category-2{
  border-top: 2px solid yellow;
}

.mxt-container .mix.category-3{
  border-top: 2px solid white;
}

.mxt-container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

@media all and (min-width: 420px){
  .mxt-container .mix,
  .mxt-container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .mxt-container .mix,
  .mxt-container .gap{
    width: 32%;
    margin: 0 0 2% 1%;
    padding: 0 1%;
    border-bottom: 1px solid #ddd;
  }
}
